body, html {
	height: 100%;
	font-family: 'Sarala', sans-serif;
	color: white;
}

#index-grid {
	display: grid;
	grid-template-columns: 75% 25%;
	grid-template-rows: 1fr;
	height: 85%;
	margin: 2%;
}

#back-drum-pic-area {
	background: url("pictures/drumset2.jpg") no-repeat left top;
	background-size: cover;
	width: 100%;
}

#main-heading {
	font-size: 4em;
	margin-left: 3%;
}

h2 {
	margin-left: 3%;
}


#resource-area {
	background-color: #4E5E61;
	margin: auto;
	margin-left: 4%;
	height: 90%;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 20% 20% 20% 20%;
	grid-gap: 1%;
	align-content: center;
}

.side-menu-header {
	font-size: 1em;
}

.menu-pic {
	display: inline-block;
	width: auto;
	float: left;
	height: 50px;
	margin: 15px;
	border-radius: 50%;
}

p {
	color: black;
}

a {
	text-decoration: none;
	color: white;
}

.footer {
	margin: 2%;
	background-color: #4E5E61;
	text-indent: 2%;
	position: relative;
	text-align: center;
}

.footer a:hover {
	color: #AE8968;
}

#drum-parts-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 20px;
	width: 85%;
	margin: auto;
}

.pic-in-grid {
	width: 100%;
}

.menu {
	background-color: #4E5E61;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.menu-item {
	float: left;
	width: 7%;
}

.menu-item a {
	display: block;
	text-align: center;
	padding: 14px 16px;
}

.menu-item a:hover {
	background-color: #AE8968;
}

.active {
	background-color: #AE8968;
}

#contact-wrap {
	background-color: #4E5E61;
	width: 80%;
	height: 75%;
	margin: auto;
	margin-top: 2%;
}

#form {
	height: 50%;
	padding: 2em;
	right: 0;
	bottom: 10;
	left: 100;
	margin: auto;
}

input[type=text] {
	background-color: white;
	color: #AE8968;
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid #AE8968;
}

textarea {
	background-color: white;
	color: #AE8968;
	width: 100%;
	height: 200px;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid #AE8968;
}

button {
	background-color: white;
	color: #4E5E61;
	font-size: 2em;
	width: 100%;
	border: 2px solid #AE8968;
	border-radius: 5px;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}

#info-wrap {
	display: grid;
	grid-template-columns: 1fr 6fr;
	grid-template-rows: repeat(15, 5%);
	grid-gap: 20px;
	width: 70%;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
}

.info-pic {
	float: left;
	margin: 2%;
	width: 100%;
}

.inst {
	font-size: 1.5em;
}

#resources-page {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

#resources-page img {
	width: 30%;
	margin: 10px;
}

.resources-header {
	color: black;
	font-size: 3em;
}

#drum-div, #cymbal-div, #electric-div {
	border-bottom: 5px solid #4E5E61;
	width: 98%;
}



